.thumbnail {
    width: 280px;
    display: block;
}

.search-bar {
   display: block;
}

.video-title {
    width: 280px;
  }

  .video-preview{
    display: inline-block;
    width: 280px;
    vertical-align: top;
    margin-right: 15px;
  }